<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="LOAD" value="AIRecommender.DataLoader.CSVDataLoader, AIRecommender.DataLoader"/>
		<add key="ALGO" value="AIRecommender.CoreEngine.PearsonRecommender, AIRecommender.CoreEngine"/>
		<add key="AGRI" value="AIRecommender.DataAggrigator.RatingsAggrigator, AIRecommender.DataAggrigator"/>
	</appSettings>
</configuration>